.button {
  display: flex;
  align-items: center;
  gap: var(--input-gap-size);
  padding: 8px 16px;
  color: var(--gray900);
  background-color: var(--gray50);
  border: 1px solid var(--gray500);
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  box-sizing: border-box;
}

.button:hover {
  background-color: var(--gray100);
}

.button.outline {
  border: 1px solid var(--primary400);
}

.button.quiet {
  color: var(--gray900);
  border: 0;
  background-color: transparent;
}

.button.quiet:hover {
  background-color: var(--gray200);
}

.button.disabled {
  color: var(--gray600);
  background-color: var(--gray100);
}

.button > svg {
  width: 16px;
  height: 16px;
}

.button.primary {
  color: var(--gray50);
  background-color: var(--primary400);
}

.button.primary:hover {
  color: var(--gray50);
  background-color: var(--primary500);
}

.button.primary.quiet:hover {
  color: var(--gray900);
}
