.button {
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: var(--input-gap-size);
  font-size: var(--input-font-size);
  line-height: var(--input-line-height);
  color: var(--gray900);
  background: var(--gray100);
  border: 1px solid transparent;
  border-radius: var(--input-border-radius);
  cursor: pointer;
  z-index: 1;
}

.button:hover {
  background: var(--gray200);
}

.button:active {
  background: var(--gray300);
}

.button.disabled {
  color: var(--gray500) !important;
  border-color: transparent !important;
  background-color: var(--gray100) !important;
  pointer-events: none;
}

.button.primary {
  color: var(--gray50);
  background: var(--primary400);
}

.button.primary:hover {
  color: var(--gray50);
  background: var(--primary500);
}

.button.primary:active {
  color: var(--gray50);
  background: var(--primary600);
}

.button.secondary {
  border: 1px solid var(--gray500);
  background: transparent;
}

.button.secondary:hover {
  background: var(--gray100);
}

.button.secondary:active {
  background: var(--gray200);
}

.button.quiet {
  color: var(--gray900);
  background: transparent;
}

.button.quiet:hover {
  background: var(--gray100);
}

.button.quiet:active {
  background: var(--gray200);
}

.button.size-sm {
  font-size: var(--font-size-sm);
  padding: var(--size50) var(--size100);
}

.button.size-md {
  font-size: var(--font-size-md);
  padding: var(--size100) var(--size400);
}

.button.size-lg {
  font-size: var(--font-size-lg);
  padding: var(--size400) var(--size600);
}
