.group {
  display: inline-flex;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
}

.group .button {
  border: 0;
  border-radius: 0;
  background: var(--base50);
  padding: 0 var(--size600);
  height: var(--size800);
  min-height: var(--size800);
}

.group .button:hover {
  background: var(--base100);
}

.group .button + .button {
  border-left: 1px solid var(--border-color);
}

.group.size-sm .button {
  font-size: var(--font-size-xs);
}

.group.size-md .button {
  font-size: var(--font-size-sm);
}

.group.size-lg .button {
  font-size: var(--font-size-md);
}

.group .button.selected {
  font-weight: 600;
  background: var(--base75);
}
