.group {
  display: inline-flex;
  border-radius: var(--input-border-radius);
  border: 1px solid var(--gray500);
  overflow: hidden;
}

.group .button {
  border: 0;
  border-radius: 0;
}

.group .button + .button {
  border-left: 1px solid var(--gray500);
}

.group .button.selected {
  color: var(--gray900);
  background: var(--gray200);
}

.quiet {
  border: 0;
}

.quiet .button + .button {
  border: 0;
}
