.group {
  display: inline-flex;
  border-radius: var(--input-border-radius);
  border: var(--input-border);
  overflow: hidden;
}

.group .button {
  border: 0;
  border-radius: 0;
  background: var(--base50);
}

.group .button:hover {
  background: var(--base100);
}

.group .button + .button {
  border-left: var(--input-border);
}

.group.size-sm .button {
  font-size: var(--font-size-xs);
  padding: var(--size50) var(--size100);
}

.group.size-md .button {
  font-size: var(--font-size-sm);
  padding: var(--size100) var(--size200);
}

.group.size-lg .button {
  font-size: var(--font-size-md);
  padding: var(--size200) var(--size400);
}

.group .button.selected {
  font-weight: 600;
}
