.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  height: var(--size800);
  gap: var(--size200);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size500);
  height: var(--size500);
  color: var(--base900);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background: var(--base50);
  transition: all 0.2s;
  cursor: pointer;
  z-index: var(--z-index-top);
}

.input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.001;
}

.label {
  font-size: var(--font-size-sm);
  font-weight: 400;
  user-select: none;
}

.checkbox.checked .box {
  color: var(--base50);
  background: var(--primary400);
  border-color: var(--primary700);
}

.checkbox.disabled .box {
  background: var(--disabled-background);
  border-color: var(--disabled-border-color);
}

.checkbox.disabled .label {
  color: var(--disabled-color);
}

.icon {
  width: var(--size300);
  height: var(--size300);
}
