.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  height: var(--input-height);
  gap: var(--input-gap-size);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  color: var(--base900);
  border: 1px solid var(--base500);
  border-radius: 4px;
  background: var(--base50);
  transition: all 0.2s;
  cursor: pointer;
  z-index: 1;
}

.input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.001;
}

.label {
  font-size: var(--font-size-sm);
  font-weight: 400;
  user-select: none;
}

.checkbox.checked .box {
  color: var(--base50);
  background: var(--primary400);
  border-color: var(--primary700);
}

.checkbox.disabled .box {
  background: var(--input-disabled-background);
  border-color: var(--input-disabled-border-color);
}

.checkbox.disabled .label {
  color: var(--base600);
}
