.checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: var(--input-height);
  gap: var(--input-gap-size);
  box-sizing: border-box;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  color: var(--gray900);
  border: 1px solid var(--gray500);
  border-radius: 4px;
  background: var(--gray50);
}

.input {
  position: absolute;
  visibility: hidden;
  height: 0;
  width: 0;
  bottom: 100%;
  right: 100%;
}

.label {
  user-select: none;
}

.checkbox.checked .box {
  color: var(--gray50);
  background: var(--primary400);
  border-color: var(--primary700);
}

.checkbox.disabled .box {
  color: var(--gray600);
  background-color: var(--gray100);
}
