.field {
  display: flex;
  align-items: center;
  position: relative;
  background: var(--input-background);
  border: var(--input-border);
  border-radius: var(--input-border-radius);
  padding: var(--input-padding);
  cursor: pointer;
}

.input {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--input-font-family);
  font-size: var(--font-size-md);
  line-height: var(--input-line-height);
  min-height: var(--input-line-height);
}

.text {
  flex: 1;
}

.menu {
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 5px;
  border: 1px solid var(--input-border-color);
  border-radius: var(--input-border-radius);
  min-width: 200px;
}

.item {
  border-radius: 0;
}
