.field {
  cursor: pointer;
}

.icon {
  color: var(--base600);
}

.value {
  flex: 1;
}

.placeholder {
  color: var(--font-color400);
}

.popup {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--base50);
  min-width: 200px;
  margin-top: var(--size25);
  overflow: hidden;
}

.search {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid var(--border-color);
}

.loading {
  height: 40px;
}
