.field {
  display: flex;
  align-items: center;
  position: relative;
  background: var(--base50);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  min-height: var(--base-height);
  padding: 0 var(--size600);
  gap: var(--size200);
  width: 100%;
}

.disabled {
  color: var(--disabled-color);
  background: var(--disabled-background);
  border-color: var(--disabled-border-color);
}

.readOnly {
  background: var(--base75);
}
