.menu {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: var(--z-index100);
}

.item {
  flex: 1;
  padding: var(--padding);
  line-height: var(--size500);
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.item:hover {
  background: var(--base75);
}

.item.selected {
  font-weight: 600;
}

.item.disabled {
  color: var(--input-disabled-color);
  background: var(--base50);
  border-color: var(--input-disabled-border-color);
  cursor: default;
  pointer-events: none;
}

.item.divider:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-top: 1px solid var(--border-color);
}

.popup {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--base50);
  min-width: 200px;
}
