.menu {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 1;
}

.item {
  flex: 1;
  font-size: var(--font-size-sm);
  padding: var(--input-padding);
  line-height: var(--input-line-height);
  border-radius: var(--input-border-radius);
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.item:hover {
  background: var(--base100);
}

.item.selected {
  font-weight: 600;
  background: var(--base100);
}

.item.disabled {
  color: var(--input-disabled-color);
  background: var(--base50);
  border-color: var(--input-disabled-border-color);
  cursor: default;
  pointer-events: none;
}

.item.divider {
  border-top: 1px solid var(--base400);
}
