.passwordfield {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: var(--input-width);
  border: 1px solid var(--gray500);
  border-radius: var(--input-border-radius);
  background: var(--gray50);
  box-sizing: border-box;
}

.passwordfield > svg {
  width: 16px;
  height: 16px;
  fill: var(--gray500);
}

.input,
.input:focus {
  border: 0;
  width: 100%;
}

.eye {
  color: var(--gray500);
  margin-right: 8px;
}

.eye:hover {
  color: var(--gray600);
}

.show {
  color: var(--gray700);
}
