.field {
  position: relative;
}

.input {
  padding-right: 48px;
}

.icon {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  right: 12px;
  top: 0;
  bottom: 0;
  margin: auto;
  color: var(--gray500);
  cursor: pointer;
}

.disabled {
  pointer-events: none;
}

.disabled .icon {
  color: var(--gray400);
}
