.passwordfield {
  position: relative;
}

.input {
  padding-right: 48px;
}

.eye {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  right: 12px;
  top: 0;
  bottom: 0;
  margin: auto;
  color: var(--gray400);
  cursor: pointer;
}

.eye.show {
  color: var(--gray700);
}
