.radio {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: var(--size800);
  gap: var(--size200);
}

.circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;
  color: var(--base900);
  border: 1px solid var(--border-color);
  border-radius: 100%;
  background: var(--base50);
  transition: all 0.2s;
  cursor: pointer;
  z-index: var(--z-index-top);
}

.label {
  user-select: none;
}

.input {
  display: none;
}

.disabled {
  color: var(--disabled-color);
  pointer-events: none;
}

.radio.checked .circle {
  background: var(--primary400);
  border-color: var(--primary700);
}

.radio.checked .circle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background: var(--base50);
}

.radio.disabled .circle {
  background: var(--disabled-background);
  border-color: var(--disabled-border-color);
}
