.radio {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: var(--input-height);
  gap: var(--input-gap-size);
}

.circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;
  color: var(--gray900);
  border: 1px solid var(--gray500);
  border-radius: 100%;
  background: var(--gray50);
  transition: all 0.2s;
}

.label {
  user-select: none;
}

.input {
  display: none;
}

.disabled {
  color: var(--input-disabled-color);
  pointer-events: none;
}

.radio.checked .circle {
  background: var(--primary400);
  border-color: var(--primary700);
}

.radio.checked .circle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background: var(--gray50);
}

.radio.disabled .circle {
  background: var(--input-disabled-background);
  border-color: var(--input-disabled-border-color);
}
