.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--base500);
}

.magnifier {
  order: -1;
}

.close {
  visibility: hidden;
  cursor: pointer;
}

.close:hover {
  color: var(--base700);
}

.visible {
  visibility: visible;
}
