.searchfield {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: var(--input-width);
  border: 1px solid var(--gray500);
  border-radius: var(--input-border-radius);
  background: var(--gray50);
  box-sizing: border-box;
}

.searchfield > svg {
  width: 16px;
  height: 16px;
  fill: var(--gray500);
}

.input,
.input:focus {
  border: 0;
  width: 100%;
}

.magnifier {
  color: var(--gray500);
  margin-left: 8px;
}

.close {
  visibility: hidden;
  color: var(--gray500);
  margin-right: 8px;
}

.close:hover {
  color: var(--gray700);
}

.visible {
  visibility: visible;
}
