.slider {
  position: relative;
  display: flex;
  width: var(--input-width);
  height: var(--input-height);
}

.slider input {
  width: 100%;
  opacity: 0.001;
  margin: 0;
  padding: 0;
}

.track,
.fill {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  border-radius: 4px;
  background: var(--gray300);
  pointer-events: none;
}

.fill {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.thumb {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100%;
  background: var(--gray50);
  border: 2px solid var(--gray600);
  pointer-events: none;
}

.disabled .track,
.disabled .fill {
  background: var(--gray200);
}

.disabled .thumb {
  border-color: var(--gray400);
}

.left .fill {
  background: var(--primary400);
}

.right .fill {
  background: var(--gray300);
}
.right .track {
  background: var(--primary400);
}
