.textarea {
  position: relative;
  display: flex;
  flex-direction: column;
}

.noresize {
  resize: none;
}

.input {
  border: 1px solid var(--gray500);
  border-radius: var(--input-border-radius);
  width: var(--input-width);
  padding: var(--input-padding);
  outline: none;
}
