.textarea {
  position: relative;
  display: flex;
  flex-direction: column;
}

.noresize {
  resize: none;
}

.input {
  font-family: inherit;
  font-size: var(--font-size-normal);
  line-height: var(--input-line-height);
  padding: var(--input-padding);
  border: 1px solid var(--gray500);
  border-radius: var(--input-border-radius);
  width: var(--input-width);
  outline: none;
}
