.field {
  display: flex;
  align-items: center;
  position: relative;
  background: var(--base50);
  border: var(--input-border);
  border-radius: var(--input-border-radius);
  padding: var(--input-padding);
  flex: 1;
}

.field.disabled {
  color: var(--input-disabled-color);
  background: var(--input-disabled-background);
  border-color: var(--input-disabled-border-color);
}

.field.readonly {
  background: var(--base100);
}

.input {
  display: block;
  font-family: var(--input-font-family);
  font-size: var(--font-size-md);
  line-height: var(--input-line-height);
  background: transparent;
  padding: 0;
  border: 0;
  outline: none;
  width: 100%;
}

.input::placeholder {
  color: var(--base400);
}

.input:disabled {
  color: var(--input-disabled-color);
}
