.field {
  position: relative;
  display: flex;
}

.input {
  font-family: inherit;
  font-size: var(--font-size-medium);
  line-height: var(--input-line-height);
  border: 1px solid var(--gray500);
  border-radius: var(--input-border-radius);
  padding: var(--input-padding);
  background: var(--gray50);
  box-sizing: border-box;
  width: 100%;
}

.input:focus {
  outline: none;
  border-color: var(--gray600);
}

.input:disabled {
  background: var(--gray75);
}
