.input {
  display: block;
  width: 100%;
  font-family: var(--input-font-family);
  font-size: var(--font-size-md);
  line-height: var(--input-line-height);
  background: transparent;
  padding: 0;
  border: 0;
  outline: none;
}

.input::placeholder {
  color: var(--base400);
}

.input:disabled {
  color: var(--input-disabled-color);
}

.copyable {
  padding-right: 16px;
}

.icon {
  position: absolute;
  top: var(--size200);
  right: var(--size400);
  padding-left: var(--size100);
}
