.input {
  display: block;
  font-family: inherit;
  color: var(--font-color100);
  font-size: var(--font-size-md);
  line-height: var(--size500);
  background: transparent;
  padding: 0;
  border: 0;
  outline: none;
  width: 100%;
}

.input::placeholder {
  color: var(--font-color400);
}

.input:disabled {
  color: var(--disabled-color);
}

.icon {
  margin-left: var(--size100);
}
