.toggle {
  display: inline-flex;
  gap: var(--input-gap-size);
}

.switch {
  position: relative;
  border-radius: 40px;
  width: 40px;
  height: 24px;
  border: 1px solid var(--gray500);
  background: var(--gray100);
  box-sizing: border-box;
}

.switch:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 1px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 1px solid var(--gray500);
  border-radius: 100%;
  background: var(--gray50);
  box-sizing: border-box;
}

.toggle.checked .switch {
  background: var(--primary400);
  border: 1px solid var(--primary600);
}

.toggle.checked .switch:before {
  left: auto;
  right: 1px;
  border: 1px solid var(--primary600);
}

.input {
  position: absolute;
  visibility: hidden;
  height: 0;
  width: 0;
  bottom: 100%;
  right: 100%;
}

.label {
  user-select: none;
}

.disabled {
  background: var(--gray100);
}
