.toggle {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: var(--input-gap-size);
}

.switch {
  position: relative;
  width: 38px;
  height: 22px;
  border-radius: 22px;
  border: 1px solid var(--input-border-color);
  background: var(--gray100);
  transition: background-color 0.2s;
  cursor: pointer;
}

.switch:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 1px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border: 1px solid var(--input-border-color);
  border-radius: 100%;
  background: var(--gray50);
  transition: left 0.2s;
}

.toggle.checked .switch {
  background: var(--primary400);
  border: 1px solid var(--primary600);
}

.toggle.checked .switch:before {
  left: 17px;
  border: 1px solid var(--primary600);
}

.input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.001;
}

.label {
  user-select: none;
}

.disabled {
  color: var(--input-disabled-color);
}

.disabled .switch,
.disabled.checked .switch {
  background: var(--input-disabled-background);
  border-color: var(--input-disabled-border-color);
}

.disabled .switch:before,
.disabled.checked .switch:before {
  border-color: var(--input-disabled-border-color);
}
