.body {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--base75);
  border: 1px solid var(--base200);
  border-radius: var(--border-radius);
  padding: 20px;
  gap: 10px;
  margin-bottom: 30px;
}

.description {
  flex: 1;
}

.action {
  display: flex;
}

@media screen and (max-width: 992px) {
  .body {
    flex-direction: column;
  }

  .description {
    width: 100%;
  }

  .action {
    width: 100%;
    justify-content: flex-end;
  }
}
