.buttons {
  display: flex;
  gap: var(--size100);
}

.left {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.right {
  justify-content: flex-end;
}

.flex button {
  flex: 1;
  justify-content: center;
}
