.input {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: var(--font-size-small);
  font-weight: 600;
  line-height: 32px;
}

.error input[type='text'],
.error input[type='password'],
.error textarea {
  border-color: var(--red400);
}

.message {
  color: var(--red400);
  font-size: var(--font-size-xsmall);
  font-weight: 600;
  line-height: 32px;
}
