.row {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  align-items: center;
  font-weight: 700;
  margin-bottom: var(--size200);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
