.form {
  display: flex;
  flex-direction: column;
  gap: var(--size900);
  width: 100%;
}

.text {
  text-align: center;
  margin: auto;
}

.icon {
  align-self: flex-start;
}

.error {
  max-width: 600px;
  max-height: 300px;
  margin: 0 auto var(--size600) auto;
  overflow: auto;
}
