.list {
  display: flex;
  flex-direction: column;
  background: var(--gray50);
  overflow: hidden;
  z-index: 1;
  box-sizing: border-box;
}

.item {
  font-size: var(--font-size-small);
  background: var(--gray50);
  padding: var(--input-padding);
  line-height: var(--input-line-height);
  border-radius: var(--input-border-radius);
  white-space: nowrap;
  overflow: hidden;
}

.item:hover {
  background: var(--gray75);
}

.item.selected {
  background: var(--gray100);
  font-weight: 600;
}
