:root {
  /* Base styles */
  --size1: 1px;
  --size50: 4px;
  --size100: 8px;
  --size200: 10px;
  --size300: 12px;
  --size400: 16px;
  --size500: 24px;
  --size600: 32px;
  --size700: 36px;
  --size800: 48px;
  --size900: 60px;

  --font-size-xxl: 48px;
  --font-size-xl: 36px;
  --font-size-lg: 24px;
  --font-size-md: 16px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;

  --grid-size-sm: 576px;
  --grid-size-md: 768px;
  --grid-size-lg: 992px;
  --grid-size-xl: 1140px;

  --blue400: #2680eb;
  --blue500: #1473e6;
  --blue600: #0d66d0;
  --blue700: #095aba;

  --red400: #e34850;
  --red500: #d7373f;
  --red600: #c9252d;
  --red700: #bb121a;

  --green400: #2d9d78;
  --green500: #268e6c;
  --green600: #12805c;
  --green700: #107154;

  --orange400: #e68619;
  --orange500: #da7b11;
  --orange600: #cb6f10;
  --orange700: #bd640d;

  /* Custom styles */
  --primary400: var(--base900);
  --primary500: var(--base800);
  --primary600: var(--base700);
  --primary700: var(--base600);

  --input-font-family: inherit;
  --input-font-size: var(--font-size-md);
  --input-height: 40px;
  --input-line-height: 24px;
  --input-padding: 8px 16px;
  --input-border: 1px solid var(--base500);
  --input-border-color: var(--base500);
  --input-border-radius: 4px;
  --input-gap-size: 10px;
  --input-color: var(--base900);
  --input-background: var(--base50);
  --input-disabled-color: var(--base600);
  --input-disabled-background: var(--base100);
  --input-disabled-border-color: var(--base400);
}

/* Light theme */
:not([data-theme='dark']) {
  --base50: #ffffff;
  --base75: #fafafa;
  --base100: #f5f5f5;
  --base200: #eaeaea;
  --base300: #e1e1e1;
  --base400: #cacaca;
  --base500: #b3b3b3;
  --base600: #8e8e8e;
  --base700: #6e6e6e;
  --base800: #4b4b4b;
  --base900: #2c2c2c;
}

/* Dark them */
[data-theme='dark'] {
  --base50: #252525;
  --base75: #2f2f2f;
  --base100: #323232;
  --base200: #3e3e3e;
  --base300: #4a4a4a;
  --base400: #5a5a5a;
  --base500: #6e6e6e;
  --base600: #909090;
  --base700: #b9b9b9;
  --base800: #e3e3e3;
  --base900: #ffffff;
}

/* Reset styles */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
