@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html,
body {
  font-size: 14px;
}

* {
  font-family: Inter, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px 0;
}
