.accordian {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 4px;
}

.group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.group:hover {
  background: var(--base100);
}

.children {
  display: none;
}

.children.expanded {
  display: block;
}

.child {
  color: var(--base800);
  padding: var(--padding);
  padding-left: 24px;
  user-select: none;
}

.child:hover {
  background: var(--base100);
}

.disabled {
  color: var(--disabled-color);
  background: var(--disabled-background);
  border-color: var(--disabled-border-color);
  pointer-events: none;
}

.left .group {
  justify-content: flex-start;
  gap: 16px;
}

.left .group *:first-child {
  order: 1;
}

.accordian.quiet .group {
  border: 0;
}
