.breadcrumbs {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  height: var(--size600);
  flex: 1;
}

.item {
  color: var(--base700);
  margin: 0;
}

.item:hover {
  color: var(--base900);
}

.item:last-child {
  color: var(--base900);
  font-weight: 700;
  cursor: auto;
}

.node {
  cursor: pointer;
}

.divider {
  color: var(--base500);
  margin: 0 20px;
}

.disabled {
  color: var(--input-disabled-color);
}
