.breadcrumbs {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  margin: 0;
}

.breadcrumbs li {
  color: var(--gray700);
  padding: var(--input-padding);
  margin: 0;
  text-underline-offset: 0.25em;
  cursor: pointer;
  list-style: none;
}

.breadcrumbs li:hover {
  color: var(--gray900);
}

.breadcrumbs li:last-child {
  color: var(--gray900);
  font-weight: 700;
  cursor: auto;
}

.divider {
  color: var(--gray500);
}
