.navbar {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  background: var(--base50);
}

.item {
  display: flex;
  flex-direction: row;
  padding: 0 var(--size600);
  gap: var(--size500);
  min-height: var(--base-height);
  color: var(--base900);
  background: var(--base50);
  border-left: 4px solid transparent;
  cursor: pointer;
}

.item.selected {
  background: var(--base100);
  border-left-color: var(--base900);
}

.item.disabled {
  color: var(--base500) !important;
  pointer-events: none;
}

[data-theme='dark'] .item {
  color: var(--base400);
  background: var(--base900);
}

[data-theme='dark'] .item.selected {
  color: var(--font-color100);
  background: var(--base800);
  border-left-color: var(--border-color);
}
