.navbar {
  display: flex;
  flex-direction: column;
  background: var(--base75);
  gap: var(--size600);
  flex: 1;
  border-right: 2px solid var(--base200);
}

.item {
  display: flex;
  flex-direction: row;
  color: var(--base600);
  border-right: 2px solid transparent;
  padding: var(--size200) var(--size800);
  gap: var(--size500);
  cursor: pointer;
  font-size: 14px !important;
  font-weight: 600;
  margin-right: -2px;
}

.item.selected {
  color: var(--base900);

  border-right-color: var(--base900);
}

.item:hover {
  color: var(--base900);
}

.item.disabled {
  color: var(--base500) !important;
  pointer-events: none;
}
