.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray900);
  padding: 8px 0;
  border-bottom: 2px solid transparent;
  user-select: none;
  margin: 0 0 -2px 0;
}

.tab.selected {
  color: var(--gray900);
  border-bottom: 2px solid var(--primary400);
}

.tab.disabled {
  color: var(--gray500);
}

.tab.vertical {
  padding: 0 8px;
  border: 0;
  border-left: 2px solid transparent;
  margin: 0 0 0 -2px;
}

.tab.vertical.selected {
  border: 0;
  border-left: 2px solid var(--primary400);
}
