.tabs {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--gray200);
  gap: var(--size600);
}

.tabs.quiet,
.tabs.vertical.quiet {
  border: 0;
}

.tabs.vertical {
  flex-direction: column;
  align-items: flex-start;
  border: 0;
  border-left: 2px solid var(--gray200);
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray700);
  padding: var(--size300) 0;
  border-bottom: 2px solid transparent;
  user-select: none;
  margin: 0 0 -2px 0;
  cursor: pointer;
}

.tab:hover {
  color: var(--gray900);
}

.tab.selected {
  color: var(--gray900);
  border-bottom: 2px solid var(--primary400);
}

.tab.disabled {
  color: var(--gray300);
  cursor: default;
}

.vertical .tab {
  border: 0;
  border-left: 2px solid transparent;
  margin: 0 0 0 -2px;
  padding: 0 var(--size300);
}

.tabs.vertical .tab.selected {
  border: 0;
  border-left: 2px solid var(--primary400);
}
