.tabs {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--base200);
  gap: var(--size800);
}

.tabs.quiet {
  border: 0;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--base700);
  min-height: var(--base-height);
  border-bottom: 2px solid transparent;
  user-select: none;
  margin: 0 0 -2px 0;
  cursor: pointer;
}

.tab:hover {
  color: var(--base900);
}

.tab.selected {
  color: var(--base900);
  border-bottom: 2px solid var(--primary400);
}

.tab.disabled {
  color: var(--base300);
  cursor: default;
}
