.dots {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: var(--size500);
  gap: var(--size200);
}

.dots div {
  border-radius: 100%;
  background: var(--base400);
  animation: dots-blink 1.2s infinite;
  animation-fill-mode: both;
}

.dots.size-sm {
  gap: var(--size50);
}

.dots.size-sm div {
  width: var(--size50);
  height: var(--size50);
}

.dots.size-md {
  gap: var(--size100);
}

.dots.size-md div {
  width: var(--size100);
  height: var(--size100);
}

.dots.size-lg {
  gap: var(--size300);
}

.dots.size-lg div {
  width: var(--size300);
  height: var(--size300);
}

.dots.size-xl {
  gap: var(--size500);
}

.dots.size-xl div {
  width: var(--size500);
  height: var(--size500);
}

.dots div:nth-child(2) {
  animation-delay: 0.2s;
}

.dots div:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes dots-blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
