.dots {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dots div {
  border-radius: 100%;
  background: var(--gray400);
  animation: dots-blink 1.2s infinite;
  animation-fill-mode: both;
}

.dots.size-sm {
  gap: 4px;
}

.dots.size-sm div {
  width: 4px;
  height: 4px;
}

.dots.size-md {
  gap: 8px;
}

.dots.size-md div {
  width: 8px;
  height: 8px;
}

.dots.size-lg {
  gap: 12px;
}

.dots.size-lg div {
  width: 12px;
  height: 12px;
  gap: 12px;
}

.dots.size-xl {
  gap: 16px;
}

.dots.size-xl div {
  width: 16px;
  height: 16px;
  gap: 16px;
}

.dots div:nth-child(2) {
  animation-delay: 0.2s;
}

.dots div:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes dots-blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
