.progressbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  border-radius: var(--input-border-radius);
  overflow: hidden;
  min-width: 100px;
}

.track {
  height: 8px;
  background: var(--base200);
  flex-basis: 100%;
  overflow: hidden;
}

.fill {
  background: var(--primary400);
  height: 8px;
}
