.progressbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  border-radius: 8px;
  overflow: hidden;
}

.track {
  width: var(--input-width);
  height: 8px;
  background: var(--gray300);
  flex-basis: 100%;
  overflow: hidden;
}

.fill {
  background: var(--primary400);
  height: 8px;
}
