.progresscircle {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.progresscircle svg {
  fill: none;
  stroke-width: 8px;
  transform: rotate(-90deg);
}

.track {
  stroke: var(--gray200);
}

.fill {
  stroke: var(--primary400);
}

.value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.size-sm,
.size-sm svg {
  font-size: var(--font-size-sm);
  width: 64px;
  height: 64px;
}

.size-md,
.size-md svg {
  font-size: var(--font-size-md);
  width: 96px;
  height: 96px;
}

.size-lg,
.size-lg svg {
  font-size: var(--font-size-lg);
  width: 128px;
  height: 128px;
}
