.progresscircle {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.progresscircle svg {
  fill: none;
  stroke-width: 5px;
  transform: rotate(-90deg);
}

.track {
  stroke: var(--gray200);
}

.fill {
  stroke: var(--primary400);
}

.value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-size-large);
}

.small svg {
  width: 16px;
  height: 16px;
}

.medium svg {
  width: 32px;
  height: 32px;
}

.large svg {
  width: 64px;
  height: 64px;
}
