.spinner {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.spinner svg {
  transform-origin: center center;
  animation: spinner-rotate 1.6s linear infinite;
}

.track {
  fill: none;
  stroke: var(--gray200);
  stroke-width: 0.15em;
}

.fill {
  fill: none;
  stroke: var(--primary400);
  stroke-width: 0.15em;
  stroke-linecap: square;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: spinner-dash 1.2s ease-in-out infinite;
}

@keyframes spinner-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
