.statuslight {
  display: inline-flex;
  align-items: center;
  gap: 12px;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: var(--status-inactive-color);
}

.status.success {
  background: var(--status-success-color);
}

.status.warning {
  background: var(--status-warning-color);
}

.status.error {
  background: var(--status-error-color);
}

.status.active {
  background: var(--status-active-color);
}
