.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  z-index: var(--z-index100);
  pointer-events: none;
}

.toast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: var(--size400);
  z-index: var(--z-index300);
  pointer-events: auto;
}

.close {
  margin-left: var(--size800);
  cursor: pointer;
}

.top {
  top: 30px;
}

.bottom {
  bottom: 30px;
}
