.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}

.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--size50);
  padding: var(--size200) var(--size400);
  color: var(--gray50);
  background: var(--gray900);
  z-index: 2;
}

.message {
  font-size: var(--font-size-medium);
}

.close {
  margin-left: var(--size600);
  cursor: pointer;
}

.success .body {
  color: #fff;
  background: var(--green400);
}

.error .body {
  color: #fff;
  background: var(--red400);
}

.top {
  top: 30px;
}

.bottom {
  bottom: 30px;
}
