.popup {
  position: absolute;
  margin: auto;
}

.top {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.bottom {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.left {
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.right {
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}
