.table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
}

.table thead,
.table tbody,
.table tr {
  display: contents;
}

.table td {
  min-width: 0;
}

.header.row .cell {
  border-bottom: 1px solid var(--base400);
}

.row .cell {
  border-bottom: 1px solid var(--base300);
}

.row .cell:first-child {
  padding-left: 0;
}

.row .cell:last-child {
  padding-right: 0;
}

.cell {
  display: flex;
  padding: var(--size400);
  overflow: hidden;
  flex: 1;
}

.cell:first-child {
  padding-left: 0;
}

.cell:last-child {
  padding-right: 0;
}

.start {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.end {
  justify-content: flex-end;
}

.cards {
  padding: 20px 0;
}

.card {
  display: grid;
  align-items: center;
  gap: 10px;
  grid-template-columns: max-content 1fr;
  padding: 20px 0;
  border-top: 1px solid var(--base400);
}

.card:last-child {
  border-bottom: 1px solid var(--base400);
}

.label {
  font-weight: 700;
}
